---
layout: default
---

{% include mathjax.html %}

<script type='text/javascript'>
function toggleDiv() {
  var div1 = document.getElementById("poem");
  var div2 = document.getElementById("pic");

  if (div1.style.display === "block") {
    div1.style.display = "none";
    div2.style.display = "block";
    document.getElementById("toggleText").innerHTML = "poem";
  } else {
    div1.style.display = "block";
    div2.style.display = "none";
    document.getElementById("toggleText").innerHTML = "pic";
  }
}
</script>
<article class="poem">
  <div id="poem" style="display:block";>
    {{ content }}
  </div>
  <div id="pic" style="display:none";>
    <p>
    <img src="/assets/images/{{ page.title }}.jpeg">
    </p>
  </div>
<div style="text-align:right;">
  <a id="toggleText" href="#" onclick="toggleDiv()">pic</a>
</div>
</article>

